<!DOCTYPE html>
<html lang="en">
<%- include ../partials/head.ejs %>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!--  Navbar -->
    <%- include ../partials/navbar.ejs %>

    <!--  Sidebar -->
    <%- include ../partials/sidebar.ejs %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <h1>Ubah Kecamatan</h1>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <form class="form-horizontal" id="formAdd">
                <div class="card-body">
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Nama</label>
                        <div class="col-sm-10">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="inputName"
                                    name="name"
                                    placeholder="Nama kecamatan"
                                    value="<%= district.name %>"
                                    required
                            >
                        </div>
                    </div>
                </div>
                <input type="hidden" value="<%= district._id %>" name="id" />
                <button type="submit" class="btn btn-primary float-right">Ubah</button>
            </form>
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<%- include ../partials/script.ejs %>
<script type="text/javascript" src="/script/page/district/create.js"></script>
</body>
</html>
