<!DOCTYPE html>
<html lang="en">
<%- include ../partials/head.ejs %>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!--  Navbar -->
    <%- include ../partials/navbar.ejs %>

    <!--  Sidebar -->
    <%- include ../partials/sidebar.ejs %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="d-flex justify-content-between">
                <h1>Kecamatan</h1>
                <button type="button" class="btn btn-primary" id="btnAdd">Tambah</button>
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>No</th>
                    <th style="width: 10px">id</th>
                    <th>Nama</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i < districts.length; i++) { %>
                        <tr>
                            <td><%= i + 1 %></td>
                            <td><%= districts[i]._id %></td>
                            <td><%= districts[i].name %></td>
                            <td>
                                <button type="button" class="btn btn-primary">Edit</button>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<%- include ../partials/script.ejs %>
<script type="text/javascript" src="/script/page/district/index.js"></script>
</body>
</html>
